body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #ffe600;
    padding: 0px 20px;
}

.search-input {
    max-width: 600px;
    height: 40px;
}

.ml-logo {
    width: 110px;   
    height: auto;
}

.mlp-logo {
    width: 140px;     
    height: auto;
}

.second-nav {
    background-color: #ffe600;
}

.second-nav span {
    cursor: pointer;
    font-size: 14px;
}

.second-nav span:hover {
    text-decoration: underline;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

.product-main .bg-white,
.product-ai-summary .bg-white,
.product-questions .bg-white {
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,.06);
}

main {
  padding-bottom: 60px;
}

.footer-ml {
    background-color: #fff;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
}

.footer-links {
    text-align: center;
    margin-bottom: 15px;
}

.footer-links a {
    color: #333;
    margin: 0 10px;
    font-size: 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-legal {
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 1.4;
}

.ml-card {
    background: #ffffff;
    border-radius: 14px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.06);
    transition: transform 0.15s ease,box-sahdow 0.15s ease;
}
.ml-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,.12);
}

.ia-box {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e6e6e6;
    padding: 18px;
    min-height: 230px;
}
.question-box {
    background: #fafafa;
    border-radius: 12px;
    border:1px solid #ddd;
    padding: 14px 18px;
    margin-bottom:12px;

}
.question-user {
    font-weight: 600;
    margin-bottom: 5px;
}
.question-answer {
    margin: 0;
    color: #444;
}